{% extends 'base_main_modulo_nav.html '%}

{% load static from staticfiles %}
{% block title %}
	Control de Asistencia | Detalle Usuario
{% endblock title %}

{% block src_avatar_modulo %} {% static "imagenes/png/Control_Asistencia_1.png"%} {% endblock src_avatar_modulo %}"
{% block alt_avatar_modulo %} Control de Asistencia {% endblock alt_avatar_modulo %}"

{% block nav-border %}
	border-bottom-red-1
{% endblock nav-border %}

{% block section %}
<!-- Login -->
<article class="container padding-normal-up-down ">
	{{form.as_p}}
	{% csrf_token %}
	<input type="submit" name="name" value="helow">
</article>
{% endblock section %}
